body {
    /*padding-top: 50px;*/
    padding-top: 0 !important;
    padding-bottom: 20px;
    background-color: #F5F8FA;
    color:#292f33;
    height: 100%;
}
body p{
    color: black;
}
h4 a{
    font-size: 10px;
}
#loginLink{
    background-color: rgba(255,255,255,0.3);
    border: none !important;
}
#header {
    /*background-image: url('../Images/tapestry-755294_960_720.jpg');*/
    height: 200px; 
    background-color: #1da1f2;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    /*position: absolute;*/
}
header.container-fluid{
    padding: 0;
}
#header a{
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    margin: 15px 10px 0 10px;
    padding: 10px 35px;
    font-size: 16px;
    color: azure;
    font-weight: 200;
    cursor: pointer;
    text-align: center;
    line-height: normal;
    box-sizing: border-box;
}
#header a:hover{
    background-color: white;
    color: #1da1f2;
}
#headerTitle{
    text-align: center;
    color:white;
    font-size: 50px;
}
#chitLogo{
    background-image: url(http://image.fg-a.com/birds/talking-bird.gif);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    position: absolute;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#pills{
    width: 100%;
}
#pillsDiv{
    background-color: white;
    margin-bottom: 10px;
}
#featuredChit{
    height: 308px;
    border-radius: 10px;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    background-color: #1DA1F2;
}
#featuredChit h3, p{
    color: white;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 0px !important;
    border-radius: 0;
}
.nav-pills li a{
    border-radius: 0px;
}


/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#registerForm{
    text-align: center;
    vertical-align: middle;
}
#registerField{
    margin-left: 50px;
}
#registerButton{
    text-align:left;
    margin-left: 50px;
}
#registerButton input{
    background-color: #1da1f2;
    color: white;
    font-weight: normal;
    border-radius: 5px;
}
#registerBottomText{
    margin-left: 50px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}
#registerBottomText p{
    color: #8899a6;
}
input.btn.btn-default{
    width: 280px;
}


#loginForm{
    text-align: left;
    padding-top: 15px;
}
.logInFormDetails{
    padding-left: 150px
}
.thumbLogin{
    padding: 0;
}
#loginThumbCaption{
    background-color: #F4F4F4;
    padding: 20px 10px !important;
}
#loginThumbCaption p{
    font-size: 12px;
    line-height: 13px;
    color: #8899a6;
}
.checkbox{
    /*margin-left: 20px;*/
}
.logInButton{
    padding-left: 0;
}
div.col-md-8.pull-left label{
    padding-left: 0px;
    padding-right: 5px;
}
div.col-md-2.logInButton {
    padding-right: 0;
}
#LogInButton{
    background-color: #1da1f2;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    border: 1px solid #3b88c3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 70px;
}




div.container.profileNavigation{
    padding: 0px;
}
.headerBanner{
    height: 175px;
    background-color: #0084B4;
}
.profilePicContainer{
    height: 200px;
    width: 200px;
    border-radius: 12px;
    background: white;
    border: 5px solid white;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    position: absolute;
    z-index: 999;
    top: 108px;
    left: 208px;
}
#profileNavMenu{
    padding: 0;
    margin: 0;
    /*width: 400px;*/
    float: left;
}
#profileNavMenu ul{
    padding:0; 
    margin:0; 
    list-style:none; 
    border:0; 
    /*float:left;*/
}
#profileNavMenu ul li{
    padding:0; 
    margin:0;  
    border:0; 
    /*float:left;*/
}
#profileNavMenu ul li a{
    padding: 13px 10px; 
    margin:0; 
    list-style:none; 
    float:left;
    text-decoration: none;
    box-sizing: border-box;
    /*border-bottom: 4px solid #1da1f2;*/
}
.active{
    border-bottom: 4px solid #1da1f2;
}
.profileNavLabel {
    color: #66757f !important;
    font-size: 12px;
    text-transform: uppercase;
    display:block;
    line-height: 1;
    text-align: center;
    cursor: default;

}
.profileNavValue {
    font-size: 14px;
    text-transform: uppercase;
    display:block;
    line-height: 1;
    text-align: center;
    cursor: default;

}
.buttonText{
    color: #66757f;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
button.btn.btn-secondary.pull-right{
    background-color: #f5f8fa;
    background-image: linear-gradient(#fff,#f5f8fa);
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    color: #66757f;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    position: relative;
    line-height: normal;
    top: 9px;
}
.profileCard{
    padding: 0 15px;
    margin: 37px 0 25px 0;
    display: block;
    text-align: left;
    font-size: 14px;
    color: #292f33;
}
.profileCard-name{
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
    margin: 0;
}
.profileCard-name a {
    color: black !important;
}
.profileCard-handler{
    font-size: 16px;
    margin: 0 0 10px 0;
    font-weight: normal;
    word-wrap: break-word;
    line-height: 1;
}
.profileCard-handler a {
    color: #8899a6;
}
.profileCard-bio{

}
.profileCard-joinDate{
    color: #8899a6;
    font-size: 12px;
    line-height: 1;
    margin-top: 6px;
    text-align: left;
}
.profileHeader li{
    font-size: 14px;
    float: left;
    color: black;
    list-style: none;
    padding: 0;
    display: block;
    padding: 15px;
    margin:0;
}
ul.profileHeader{
    margin:0;
    padding:0;
    display: block;
}


.RightSideFollowing{
    padding: 0;
}
.CenterSide{
    background-color: white;
    margin-top: 10px;
    padding: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 1px 1px 5px #888888;
}
.myProfileChits{
    height: 92px;
    background-color: white;
    list-style: none;
    border: 1px solid #888888;
    display: block;
}

.foloThumb{
    height: 280px;
    width: 280px;
    margin: 10px 5px;
    padding: 0;
}
.followThumbButton{
    background-color: #1da1f2;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
    color: #fff;
    border: 1px solid #3b88c3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
}
#followingButton:hover span{
    display:none;
}
#followingButton:hover:before{
    content:"Unfollow";
}
#followingButton:hover{
    background-color: #e81c4f;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
    color: #fff;
    border: 1px solid #1da1f2;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    font-size: 13px;
    text-decoration: none;
}
#followingThumbnail{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
.followingThumbProfilePic{
    height:70px !important;
    width:70px;
    position:absolute;
    top: 70px;
    left: 10px;
    border-radius: 5px;
    display:block;
    cursor: pointer;
    border: 4px solid white;
}
.foloThumbSettings{
    top: 115px;
    left: 160px;
    position: absolute;
    z-index: 999;
}
.thumbnailBanner{
    width: 100% !important;
    height: 96px !important;
}
.followingCaption{
    display: block;
    padding-left: 5px;

}
.fc1{
    font-weight: 700;
    font-size: 18px;
    cursor: auto;
    text-align: left;
}

#leftColumContents{
    padding-left: 0;
}
.dashboard{
    float:left;
    width: 290px;
    /*background-color: white;*/
    height: 690px;
    margin: 10px 10px 0 0;
}
.dashProfileCard{
    border: 1px solid #e1e8ed;
    background: #fff;
    border-radius: 6px;
    line-height: 16px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
#dashProfile{
    color: #0084B4;
    background-color: #0084B4;
    width: 100%;
    height: 95px;
    border-radius: 4px 4px 0 0;
    display: block;
}
.dashProfileCard a:hover{
    color: #0084B4;
}
.dashAvatar{
    background-color: #fff;
    border-radius: 6px;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
    display: inline-block!important;
}
.dashAvatar img{
    height: 72px;
    width: 72px;
    border-radius: 7px;
    border: 2px solid #fff;
    color: white;
}
.userInfo{
    position: absolute;
    top: 103px;
    left: 90px;
    width: 185px;
    font-size: 14px;
}
.userInfoName{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
}
.userScreenName a{
    font-size: 12px;
    text-align: left;
    color: #66757f !important;
}
.userScreenName a:hover{
    color: #0084B4;
}
.userStats{
    margin-left: 11px;
    padding: 10px 0;
}
.userStatsList{
    table-layout: fixed;
    box-sizing: border-box;
    display: table;
    margin: 0;
    padding: 0;
    min-width: 100%;
    list-style: none;
    line-height: 16px;
}
.userStatsList-stat{
    vertical-align: bottom;
    display: table-cell;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.userStatsList-link{
    color: #0084B4;
    text-decoration: none !important;
    display: block;
}
.userStatsList-header{
    color: #8899a6;
    font-size: 10px;
    letter-spacing: .02em;
    overflow: hidden;
    text-transform: uppercase;
    display:block;
}
.userStatsList-value{
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    color: #0084B4;
}
.NewChit{
    border-radius: 10px 10px 0 0;
    position: relative;
    padding: 10px 12px;
    color: #292f33;
    font-size: 14px;
    line-height: 18px;
    background-color: #E5F2F7;
    margin: 10px 0 0 0;
    height: 60px;
    width: 600px;
}
.newChitProfileImage{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    top: 10px;
    left: 25px;
}
.newChitText{
    position: absolute;
    top: 10px;
    right: 25px;
}


.ChitStream.clearfix{
    height: auto;
    width: 600px;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #e1e8ed;
    padding: 9px 12px;
    /*min-height: 51px;*/
    position: relative;
    /*display: block;*/
}
.chitStreamProfileImage{
    height: 48px;
    width: 48px;
    position: absolute;
}
.chitStreamHeader{
    width: 525px;
    float: right;
}
#chitStreamHeader{
    display: inline !important;
}
#chitStreamHeader1{
    display: inline !important;
    text-decoration: none;
    pointer-events: none;
    color: #8899a6;
    padding-left: 0;
}
.newChitCreate{
    position: absolute;
    right: 20px;
    bottom: 15px;
    max-width: 800px;
    width: 500px;
}
.chitStreamContent{
    display: block;
    width: 525px;
    float: right;
    margin-top: 5px;
}
.chitStreamText{
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 18px;
    font-size: 14px;
    margin: 0;
    padding-left: 5px;
}
.chitStreamFooter{
    display: block;
    width: 525px;
    float: right;
    margin-top: 10px;
}
.ActionIcons{
    padding-left: 5px;
    list-style: none;
}
.ActionIcons li{
    display: inline-block;
    padding-right: 80px;
}


#ChitNavBar{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 0 !important;

}
div.navbar-default.navbar.ChitNavBar{
    margin-bottom: 0;
}
div#navbar.navbar-collapse.collapse.ChitNavBar{
    margin-bottom: 0;
}

div.container.ChitNavBar{
    margin-bottom: 0;
}

.ChitNavBar{
    padding: 0;
    margin-bottom: 5px;
}
li.chitNavItems{
    height: 50px;
}
li.chitNavItems a{
    padding: 15px 15px 15px 0;
}
li.chitNavItems a:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #0084B4;
    /*transition: all .1s ease-in-out;*/
    text-decoration: none;
    color: #0084B4 !important;
}
#navDropDown{
    margin: 3px -7px 0 0;
}
.contentValue b{
    color: black;
}
.ChitNavBar a:active{
    text-decoration: none;
    background-color: transparent;
}
#navDropDown li a{
    padding: 5px 20px;
    color: #66757f !important;
}
#navDropDown li a:hover{
    border: 0;
    background-color: #0084B4;
    color: white !important;
}
#navDropDown:hover{
    color: white !important;
}
.navCurrentUser small{
    display: block;
    color: #66757f !important;
}

#rightNav{
    display: inline-block;
}
#rightNav button{
    margin-top: 10px;
    color: #fff;
    height: 32px;
    opacity: 1;
    font-weight: 500;
    line-height: 1;
    background-color: #0084B4;
    background: rgba(0,132,180,.8);
    border: 1px solid transparent;
    text-align: center;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);

}
#rightNav button:hover{
    background-color: red;
}
#rightNav img{
    height: 32px;
    width: 32px;
    list-style: none;
    border-radius: 4px;
}
#rightNavImage{
    padding: 10px 15px 10px 5px;
}
#rightNavImage:hover{
    /*padding-bottom: 15px;*/
    border-bottom: none;
}
.searchNav{
    display: inline-block;
}
.serchNavStyle{
    height: 32px;
    box-sizing: border-box;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out;
    margin: 10px 10px 0 10px;
}

#generateQr{
    position: absolute;
    top: 350px;
    right: 30px;
}
#testQrCode{
    height: 250px;
    width: 250px;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #registerField, #registerButton, #registerBottomText{
        margin-left: 0;
    }
    .dashAvatar{
        position: relative;
    }
    .dashboard{
        width: 100%;
        height: auto
    }
    .NewChit{
        width: 100%
    }
    #ChitText{
        width: 80%;
    }
    .chitStreamHeader, .chitStreamContent, .chitStreamFooter{
        float: none;
        margin-left: 70px;
    }
    .ChitStream.clearfix{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #registerField, #registerButton, #registerBottomText{
        margin-left: 0;
    }
    .dashAvatar{
        position: relative;      
    }
    .dashboard{
        width: 100%;
        height: auto;
    }
    .NewChit{
        width: 100%
    }
    #ChitText{
        width: 87%;
    }
    .ChitStream.clearfix{
        width: 100%;
    }
    .chitStreamHeader, .chitStreamContent, .chitStreamFooter{
        float: none;
        margin-left: 70px;
    }
    .dashProfileCard{
        margin-left: 13px;
        width: 98%;
    }
}

@media screen and (max-width: 425px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #registerField, #registerButton, #registerBottomText{
        margin-left: 80px;
    }
    #registerBottomText{
        padding-left: 0;
    }
    .ChitNavBar{

    }
    ul.nav.navbar-nav{

    }
    .logInFormDetails{
        padding-left: 70px !important;
    }
    .dashAvatar{
        position: relative;
    }
    .dashboard{
        width: 100%;
    }
    .NewChit{
        width: 100%
    }
    #ChitText{
        width: 75%;
    }
    .ActionIcons li{
        padding-right: 40px !important;
    }
    #feedContainer-Fluid{
        overflow-x: hidden;
    }
}


@media screen and (max-width: 375px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #registerField, #registerButton, #registerBottomText{
        margin-left: 60px;
    }
    #registerBottomText{
        padding-left: 0;
    }
    .logInFormDetails{
        padding-left: 20px !important;
    }
    .dashAvatar{
        position: relative;
    }
    .dashboard{
        width: 100%;
    }
    #ChitText{
        width: 70%;
    }
    ul.ActionIcons li{
        padding-right: 20px !important;
    }
}


@media screen and (max-width: 320px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    #registerField, #registerButton, #registerBottomText{
        margin-left: 30px;
    }
    #registerBottomText{
        padding-left: 0;
        margin-left: 60px;
    }
    .dashAvatar{
        position: relative;
    }
    .dashboard{
        width: 100%;
    }
    .NewChit{
        width: 100%
    }
    #ChitText{
        width: 66%;
    }
}