@{
    ViewBag.Title = "Home Page";
}
<div>
    <header class="container-fluid">
        <div id="header"class="container-fluid">
            @Html.Partial("_LoginPartial")
        </div>  

    </header>
</div>

<ul class="nav nav-pills">
    <li><a href="#"><i class="glyphicon glyphicon-search"></i></a></li>
    <li role="presentation"><a href="#">Featured</a></li>
    <li role="presentation"><a href="#">Sports</a></li>
    <li role="presentation"><a href="#">News</a></li>
    <li role="presentation"><a href="#">Music</a></li>
    <li role="presentation"><a href="#">Entertainment</a></li>
    <li role="presentation"><a href="#">Lifestylex</a></li>
    <li class="nav-item dropdown">
        <a href="#" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More <span class="caret"></span> </a>`
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Technology & Science</a>
            <a href="#" class="dropdown-item">Arts & Culture</a>
            <a href="#" class="dropdown-item">Government Politics</a>
            <a href="#" class="dropdown-item">Gaming</a>
            <a href="#" class="dropdown-item">9GAG</a>
        </div>
    </li>
</ul>

<div class="body-content container">
    <div class="jumbotron">
        <h1>Chit Chat</h1>
        <p class="lead">Have a Chitty Day!</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

