@{
    ViewBag.Title = "Home Page";
}
<div>
    <header class="container-fluid">
        <div id="header" class="container-fluid">
            <div class="container">
                <div id="chitLogo"></div>
                @Html.Partial("_LoginPartial")
            </div>
            <div>
                <h1 id="headerTitle">Let's Chit Chat</h1>
            </div>
        </div>

    </header>
</div>
<div class="container-fluid"  id="pillsDiv">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li><a href="#"><i class="glyphicon glyphicon-search"></i></a></li>
            <li id="zooKeeper" role="presentation"><a href="#" class="tab-content">Featured</a></li>
            <li role="presentation"><a href="#" class="tab-content">Sports</a></li>
            <li role="presentation"><a href="#" class="tab-content">News</a></li>
            <li role="presentation"><a href="#" class="tab-content">Music</a></li>
            <li role="presentation"><a href="#" class="tab-content">Entertainment</a></li>
            <li role="presentation"><a href="#" class="tab-content">Lifestylex</a></li>
            <li class="nav-item dropdown">
                <a href="#" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More <span class="caret"></span> </a>`
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Technology & Science</a>
                    <a href="#" class="dropdown-item">Arts & Culture</a>
                    <a href="#" class="dropdown-item">Government Politics</a>
                    <a href="#" class="dropdown-item">Gaming</a>
                    <a href="#" class="dropdown-item">9GAG</a>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="body-content container">
    <div class="row">
        <div class="col-lg-12">
            <h4>Moments <a href="#">View all</a> </h4>   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="thumbnail"><img src="" alt="" /></div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail"><img src="" alt="" /></div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail"><img src="" alt="" /></div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail" id="featuredChit">
                <div class="caption">
                    <h3>New to Chatter?</h3>
                    <p>Sign up now to get your own personalized timeline!</p>
                    <p><a href="#" class="btn btn-default" role="button">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

